<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{th/layout.html}"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{ss2spStatement.PaymentAndRefund}+' '+${ivsName}+' '+#{ss2spStatement.reviewExport}+' - DRS'"></title>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>	
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link th:href="@{/resources/css/awesome-bootstrap-checkbox.css}" type="text/css" rel="stylesheet">		
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">	
<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
<script>
	$(document).ready(function() {
		
		var report = $('#paymentAndRefundForPoInPeriodReport').DataTable({			 
		 	searching: false,
		    paging: false,
		    info: false,		    
		    buttons: [{
                 extend: 'csv',
                 text: '<i class="fas fa-cloud-download-alt"></i> [[#{ss2spStatement.export}]]'
        }]
		 			 			 
	 });
			
	report.buttons().container().appendTo($('#btnExport'));
	$('#btnExport > .dt-buttons > a').addClass('btn btn-primary');
		
	});
</script>
</head>

<body>
	<section layout:fragment="custom-content">
<div class="max-width">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-heading">
				<a th:text="#{ss2spStatement.PaymentAndRefund}+' '+${ivsName}+' '+#{ss2spStatement.reviewExport}"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right">
			<span id="btnExport"></span>
		</div>
	</div>
	<div style="padding-bottom: 10px"></div>
	<div class="row">
		<div class="col-md-12">
			<table id="paymentAndRefundForPoInPeriodReport" class="table">
				<thead>
					<tr>
						<th><a th:text="#{ss2spStatement.statements}"></a></th>
						<th class="text-center">Period start</th>
						<th class="text-center">Period end</th>
						<th><a th:text="#{ss2spStatement.ivs}"></a></th>
						<th class="text-center"><a th:text="#{ss2spStatement.time}"></a></th>
						<th><a th:text="#{ss2spStatement.SKU}"></a></th>
						<th><a th:text="#{ss2spStatement.skuName}"></a></th>
						<th><a th:text="#{ss2spStatement.itemName}"></a></th>
						<th><a th:text="#{ss2spStatement.sourceItem}"></a></th>
						<th class="text-center"><a th:text="#{ss2spStatement.sourceCurrency}"></a></th>
						<th class="text-right"><a th:text="#{ss2spStatement.amountPerUnit}"></a></th>
						<th class="text-right"><a th:text="#{ss2spStatement.quantity}"></a></th>
						<th class="text-right"><a th:text="#{ss2spStatement.sourceAmount}"></a></th>		
					</tr>
				</thead>				
				<tbody>
					<th:block th:each="item : ${itemList}" >
						<tr>
							<td th:text="${item.statementName}"></td>
							<td class="text-center" th:text="${item.dateStart}"></td>
							<td class="text-center" th:text="${item.dateEnd}"></td>
							<td th:text="${item.shipmentName}"></td>
							<td class="text-center" th:text="${item.transactionTimeUtc}"></td>
							<td th:text="${item.sku}"></td>
							<td th:text="${item.skuName}"></td>
							<td th:text="#{${item.itemType}}" ></td>
							<td th:text="${item.sourceName}"></td>
							<td class="text-center" th:text="#{${item.currency}}" ></td>
							<td class="text-right" th:text="${item.unitAmount}"></td>
							<td class="text-right" th:text="${item.quantity}"></td>
							<td class="text-right" th:text="${item.totalAmount}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>	
	</div>
</div>
</section>
</body>
</html>