<head>
	<title>
		Final Approval Check (PS)
	</title>
</head>
<div class="max-width">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-heading">
					Final Approval Check (PS)
				</div>
			</div>
		</div>	
		<form name="approveSample" action="">
		<div class="row">			
			<div class="col-md-12">				
				<div class="panel panel-default">
  					<div class="panel-heading">Approval Check</div>
  						<div class="panel-body">  							
  							<p>Add Product to <a href="https://access.drs.network/Products" target="_blank">產品資訊維護</a></p>
							<p><a href="https://docs.google.com/spreadsheets/d/1FVDqtLqgjkDcO4VHkyFf379rpER3C5NsEsaLzAodwbk/edit#gid=2091562452" target="_blank">NPO Progress Tracker</a></p> 
							<p>Supplier and Product ROI</p>  									  							 							 											    
  						</div>
				</div>		
			</div>
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">
			<div class="col-md-12">
				<span><b>Checklist - Final Approval (PS) *</b></span><br>
				<input type="checkbox" name="createProduct" value="yes"> Create product on DRS.network > [產品資訊維護]<br>
				<input type="checkbox" name="addMarketplaces" value="yes"> Add all needed marketplaces (Amazon, TTS, etc) on DRS.network > 產品資訊維護<br>
				<input type="checkbox" name="setSellable" value="yes"> Set to 可銷售<br>
				<input type="checkbox" name="sendRequest" value="yes"> Send request to IT to fix product info on [產品管理] if needed<br>
				<input type="checkbox" name="updateProgressTracker" value="yes"> Update Progress Tracker<br>
				<input type="checkbox" name="updateROI" value="yes"> Update Supplier and Product ROI						
			</div>			
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">			
			<div class="col-md-12">
				<span><b>List to TrueToSource?</b></span><br>
				<input type="radio" name="listToTrueToSource" value="no"> No
				<input type="radio" name="listToTrueToSource" value="yes"> Yes							
			</div>				
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">			
			<div class="col-md-12">
				<span><b>Comments for Final Approval Check</b></span><br>
				<input type="text" class="form-control" style="width:50%;display:inline;">						
			</div>				
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">
			<div class="col-md-12 text-right">
				<input class="btn btn-default" type="submit" value="Save" />	
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
		</div>
		</form>
 	</div>
</div> 	
 	