<head>
	<title>
		MS Feedback and Intention
	</title>	
</head>
<div class="max-width">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-heading">
					MS Feedback and Intention	
				</div>
			</div>
		</div>
		<form name="msFeedbackIntention" action="">
		<div class="row">			
			<div class="col-md-12">				
				<div class="panel panel-default">
  					<div class="panel-heading">MS Feedback</div>
  						<div class="panel-body">  							
  							<p>
  							Please review the product's suitability for selling in the target market/s and share your considerations and feedback to help this product succeed. 
  							Or, if there is any reason why it should not be sold in a particular market, please explain why.
							</p>
							<p>
							N.B. We aim to give suppliers the chance to enter new markets, so 
							"Should not be sold in target market" is only for very rare occasions when there is a very strong case for why this is the case, 
							such as items that may be culturally offensive, against local laws, or other foreseeably undesirable effects.
  							</p>	  									  							 							 											    
  						</div>
				</div>		
			</div>
		</div>
		<div style="padding-top:20px"></div>	
		<div class="row">			
			<div class="col-md-12">				
				<div class="panel panel-default">
  					<div class="panel-heading">To Product Specialist:</div>
  						<div class="panel-body">  							
  							<p>Please pass on information to supplier and fix any issues before moving forward.</p>  									  							 							 											    
  						</div>
				</div>		
			</div>
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">			
			<div class="col-md-6">
				<span><b>MS Feedback *</b></span><br>
				<input type="text" class="form-control" style="width:50%;display:inline;">							
			</div>
			<div class="col-md-6">
				<span><b>MS Considerations *</b></span><br>
				<input type="text" class="form-control" style="width:50%;display:inline;"><br>
				<span class="small">Please share your thoughts here so PSs can clearly relay your feedback to suppliers to make adjustments.</span>
			</div>			
		</div>
		<div style="padding-top:20px"></div>
		<div class="row">
			<div class="col-md-12 text-right">
				<input class="btn btn-default" type="submit" value="Save" />	
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
		</div>
		</form>	
 	</div>
</div> 	 	