{
    "presets" : [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3,
        }],
        "@babel/react",
     ],
     "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true,
            "corejs": 3
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ]
}
