.Toastify__toast {
    border-radius: 4px !important;
    padding: 12px !important;
}
.Toastify__toast--default {
    color: #2d343f !important;
    font-size: 15px!important;
    font-weight: 500!important;
    line-height: 1.5rem;
}
.Toastify__toast-body {
    margin: auto 4px !important;
}
.Toastify__progress-bar--default {
    background: none !important;
    background-color: #1976f5 !important;
}